.vscode
/Python Fundamentals/
/Python OOPs/
/MySQL/Zip Folder
/MySQL/Databases/
/Data Processing and Visualization/Zip Folder
/ML Algo/Zip Folder
/Deep Learning/Zip Folder
/NLP/Zip Folder
/Gen AI/Zip Folder
/Desk Analysis Project/desk_analysis.zip